{% load static i18n %}
<html>
<head>
{% block head %}
     <title>
     {% block title %}{% trans "Home" %}{% endblock title %} | {% trans "Vegan recipes" %}
     </title>
     {% block css %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     {% endblock css %}
{% endblock head %}
</head>
<body>

     {% block content %}
     {% endblock content %}

     {% block footer %}
          {% include "recipe/includes/footer.html" %}
     {% endblock footer %}
</body>
</html>
