body {
  background-image: url('images/background.jpg');
  font-size: 18px;
}

#home-recipe-list{
  width: 90%;
  height: auto;
}

#home-recipe-list .recipe{
  width: 300 px;
  max-width: 300 px;
  float: left;
  display: block;
  opacity: 0.8;
  border: 10px solid black;
  background: lime;
  color: white;
  margin: 30 px;
}
