body {
  background-image: url('static/css/style.css');
  font-size: 14px;
}

#home-recipe-list{
  width: 90%;
  height: auto;
}

#home-recipe-list .recipe{
  max-width: 180 px;
  float: left;
  display: block;
  opacity: 0.8;
  border: 3px solid black;
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
  color: white;
}
